<!DOCTYPE html>
<html>

<head>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" -->
    <!-- /> -->
    <%- include('./partials/_head'); %>
        <title>
            <%= title %>
        </title>
</head>

<body>


    <%- include('./partials/_navbar'); %>
        <!-- <div class="page-wrapper"> -->
        <%- include('./partials/_content'); %>
            <!-- <h1>
                    <%= title %>
                </h1>
                <p>Welcome to
                    <%= title %> page</p> -->
            <%- include('./partials/_footer.ejs'); %>
                <!-- </div> -->
                <script src="/javascripts/cart.js"></script>
                <script src="/javascripts/login.js"></script>

</body>

</html>